{
  "_comment": "Para rodar o Prettier: npx prettier --write \"**/*.{js,ts,jsx,tsx,json,css,scss,md}\"",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always"
}
